%li.media[movie]
  - unless movie.poster_file_name.nil?
    = image_tag movie.poster.url(:thumb), class: 'media-object img-polaroid pull-left'
  .media-body
    %h4= link_to movie.title, movie_path(movie)
