- if user_signed_in?
  = form_for([@movie, @rating], html: { class: 'form-inline' }) do |f|
    - Rating::RATINGS.each do |r|
      = f.label :value, r, value: r
      = f.radio_button :value, r

    = f.submit 'Save', class: 'btn btn-mini'
